@media only screen and (max-width: 600px){
#headingFirstUser{
    font-size: larger; font-weight: 600;  margin-left :3em; margin-top :1em; margin-bottom :1em;
}

#image1, #image2, #image3{
   width: 7em;
}

#displayResultDIv{
    width: 30em; margin-left :4em; font-size: 30px; color: red; font-weight: 900;
}

#movePrintDiv{
    width: 150px;   margin-left :7em;
}

#headingAuto{
    font-size: larger; font-weight: 600; margin-left :6em;  margin-top :1em; margin-bottom :1em;
}

#printDiv{
    width: 150px; margin-left :7em;
}
}